# Next.js
.next/
out/

# Node
node_modules/

# Build artifacts
*.tsbuildinfo
next-env.d.ts

# Native mobile (não vão para Vercel)
ios/
android/
.idea/

# Environment variables
.env
.env.local
.env.*.local

# Editor
.vscode/
*.DS_Store

# Logs
*.log
npm-debug.log*

# Capacitor (arquivos gerados)
capacitor.config.ts.bak
